name: donut
description: Donut Flutter app

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ">=2.17.0-69.2.beta <3.0.0"

dependencies:
  cupertino_icons: ^1.0.2
  google_fonts: ^2.1.0
  flutter_launcher_icons: ^0.10.0
  just_audio: ^0.9.28
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_lints: ^1.0.0
  flutter_test:
    sdk: flutter

flutter_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/icon/icon.jpg"


flutter:
  uses-material-design: true

  assets:
    - assets/